:root {
  font-family: 'DM Sans', sans-serif;
  color: #102d50;
  background: #fffefd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

* { box-sizing: border-box; }
body { margin: 0; min-width: 320px; min-height: 100vh; }
#root { min-height: 100vh; }
::selection { background: #d9a77e; color: #1e3028; }
